[user]
  name = Marlon Andrade
  email = marlonmandrade@gmail.com
[diff]
[color]
  ui = auto
[alias]
  st = status -sb
  ci = commit
  co = checkout
  di = diff
  dc = diff -- cached
  ammend = commit --amend
  aa = add --al
  head = log -1
  pod = push origin develop
  pom = push origin master
  phm = push heroku master
  lp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
  excludesfile = /Users/marlonandrade/.gitignore_global
[merge]
  ff = false
[branch]
  autosetuprebase = always
[branch "master"]
  rebase = true
[branch "develop"]
  rebase = true
