[submodule ".vim/bundle/tpope-vim-rails"]
  path = .vim/bundle/tpope-vim-rails
  url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/tpope-vim-surround"]
  path = .vim/bundle/tpope-vim-surround
  url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/kwbd"]
  path = .vim/bundle/kwbd
  url = https://github.com/rgarver/Kwbd.vim.git
[submodule ".vim/bundle/tpope-vim-haml"]
  path = .vim/bundle/tpope-vim-haml
  url = https://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/vim-coffee-script"]
  path = .vim/bundle/vim-coffee-script
  url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/tpope-vim-markdown"]
  path = .vim/bundle/tpope-vim-markdown
  url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-airline"]
  path = .vim/bundle/vim-airline
  url = git@github.com:bling/vim-airline.git
[submodule "xcode/submodules/Xcode-Snippets"]
  path = xcode/submodules/Xcode-Snippets
  url = git@github.com:mattt/Xcode-Snippets.git
[submodule ".vim/bundle/ctrlp"]
  path = .vim/bundle/ctrlp
  url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-mustache-handlebars"]
  path = .vim/bundle/vim-mustache-handlebars
  url = git@github.com:mustache/vim-mustache-handlebars.git
[submodule ".vim/bundle/emeet-vim"]
  path = .vim/bundle/emeet-vim
  url = git@github.com:mattn/emmet-vim.git
[submodule ".vim/bundle/vim-javascript"]
  path = .vim/bundle/vim-javascript
  url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/tpope-vim-ragtag"]
  path = .vim/bundle/tpope-vim-ragtag
  url = git@github.com:tpope/vim-ragtag.git
[submodule ".vim/bundle/nerdtree"]
  path = .vim/bundle/nerdtree
  url = git@github.com:scrooloose/nerdtree.git
